.form_title--dumb {
  color: var(--s-color-primary);
  font-size: 48px;
  margin: 30px 0 0 30px;
  width: fit-content;
}

.login__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10em;
  width: fit-content;
}

.login__form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

// @fix: repited class
// .form__title {
//   font-size: 2em;
// }

.form__label {
  font-size: 16px;
  margin-left: 4px;
  margin-top: 24px;
  text-align: start;
}

.form__input {
  @include input;
}

.login__link--to-register {
  color: var(--s-color-quaternary);
  font-size: 14px;
  margin-top: 12px;
}

.login__link--to-register:hover {
  color: var(--s-color-secondary);
  text-decoration: none;
  transition: .2s ease-in-out;
}

.form__button {
  @include button;

  margin: auto;
  margin-top: 24px;
}
