.form__container {
  margin: auto;
  padding: 3.5em;
  width: fit-content;
}

.form__title {
  margin-top: 3rem;
  text-align: center;
}

.form__fieldset {
  border: 0 none;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.form__input {
  @include input;

  margin-bottom: 12px;
}

.form__btn {
  @include button;

  margin: auto;
  margin-top: 24px;
}

.form__btn:hover {
  color: var(--s-color-secondary);
  transition: .3s ease-in-out;
}
