.navbar__container {
  top: 0;
  left: 0;
}

.navbar__link--home {
  color: var(--s-color-primary);
  display: flex;
  font-size: 48px;
  font-weight: 900;
  margin-left: 20px;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  padding-block: 16px;
  gap: 32px;
  width: fit-content;
}

.navbar__link {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--s-color-secondary);
  white-space: nowrap;
}

.navbar__link:hover {
  text-decoration: underline;
  transition: .2s;
}

a.active {
  color: var(--s-color-primary);
  color: var(--s-color-primary);
  font-weight: 900;
  text-decoration: none;
}

// admin navbar
.admin__navbar {
  border-right: 1px solid var(--s-color-quaternary);
  border-bottom: 0;
  position: fixed;
  width: 20rem;
  height: 100vh;
}

.navbar__link--admin {
  color: var(--s-color-primary);
  display: flex;
  font-size: 48px;
  font-weight: 900;
  text-decoration: none;
  margin-left: 2rem;
  width: 15rem;
}

.navbar--admin {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-around;
  margin-left: 2rem;
  text-align: left;
}

.navbar__list--admin {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
}

// collapse items
.navbar__item--collapsible {
  color: var(--s-color-primary);
  font-size: 1.4rem;
  overflow: hidden;
}

.collapsible-input {
  display: none;

  &:checked+.collapsible-label+.collapsible-content {
    max-height: 6rem;
  }
}

.collapsible-label {
  display: block;
  cursor: pointer;
  padding: 12px;
  font-size: 1.6rem;
}

.collapsible-label:hover {
  text-decoration: underline;
  transition: .2s;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
  margin-left: 1.2rem;
}
