.table__container {
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  margin-left: 24rem;
  margin-top: 3rem;
  width: fit-content;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  // word-break: break-word;
}

.tbody__row {
  border: 1px solid;
}

th {
  padding: 12px 8px;
  font-size: 1.3rem;
}

td {
  padding: 16px;
  text-transform: capitalize;
}
