@import './mixins.scss';

// views
@import './views/hotels.scss';
@import './views/login.scss';
@import './views/register.scss';

// components
@import './components/card.scss';
@import './components/form.scss';
@import './components/navbar.scss';
@import './components/searchBar.scss';
@import './components/table.scss';
